@font-face {
  font-family: 'RedOctober';
  src: url('RedOctober.ttf') format('truetype');
}

body{
  height: 100%;
  /*background-image:url('thedronesarecomingbg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #df5431;
  background: -webkit-radial-gradient(#df5431, #df5431, #ae452b); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#df5431, #ae452b); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#df5431, #ae452b); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#df5431, #ae452b); /* Standard syntax */
}

#timer{
  margin-top: 15%;
  text-align: center;
  max-height: 898;
}

#Stage_jbeeb_3{
  margin:auto;
}

.email{
  text-align: center;
  padding-top: 5px;
} 
.email .form-group input{
  background-color: #767877;
  border: 1px solid #767877;
  border-radius: 0px;
  height: 50px;
  width: 350px;
  color:#4b4e4d !important;
  font-family: 'RedOctober'; 
  font-size: 18px;
}

p {
  font-family: 'RedOctober';
  font-size: 25px;
}


::-webkit-input-placeholder {
  color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

:-ms-input-placeholder {  
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}