<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <script src="jquery-1.11.1.min.js"></script>
    <script src="analytics.js"></script>
  </head>
  <body>

  <div class="row" id="header">
    <div class="col-xs-2" id="header-title">
      <div id="the"></div>
      <div class="text">
        <h1>drones</h1>
        <p>are</p>
        <h1>coming</h1>
      </div>
    </div>
    <div class="col-xs-10" id="header-city">
      <div class="curve"></div>
      <div class="city front"></div>
      <div class="city back-1"></div>
      <div class="city back-2"></div>
      <div class="city back-3"></div>
    </div>
  </div>

  <div class="row" id="header-tagline">
    <div class="col-xs-12">
      <h1>Create a drone. Show what you're made of.</h1>
      <h2>register today for gradfly's drone contest</h2>
    </div>
  </div>
  
  <div class="row" id="information">
    <div class="col-sm-6">
      <h2><a href="https://www.gradfly.co">GradFly</a> is happy to announce the first ever Drones Are Coming contest! Assemble a team and build a drone that addresses a social/economic issue. Final projects will be judged by a panel of UB professors, Stem Professionals, executives, and the CEO of Gradfly. Sign up and show what you're made of!</h2>
    </div>
    <div class="col-sm-6" id="registration-link">
      <center>
      <a class="large" href="https://docs.google.com/forms/d/1CrrUB2akJ-RaP86UPSn9VD66ivjNzTBqzsIY-QhL_Z8/viewform">Click here to register!</a>
      <h2>by registering you agree to the<br>contest <a href="/rules">rules and requirements</a></h2>
      </center>
    </div>
  </div>

  <footer>
    <center>
      <p>sponsored by</p>
      <a href="https://www.gradfly.co"><img src="images/gradfly.png" alt=""></a>
    </center>
  </footer>

  </body>
</html>
