@font-face {
  font-family: 'RedOctober';
  src: url('RedOctober.ttf') format('truetype');
}

* {
  color: #231f20;
}

body{
  height: 100%;
  /*background-image:url('thedronesarecomingbg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #fff;
}

#timer{
  margin-top: 15%;
  text-align: center;
  max-height: 898;
}

#Stage_jbeeb_3{
  margin:auto;
}

.email{
  text-align: center;
  padding-top: 5px;
} 
.email .form-group input{
  background-color: #767877;
  border: 1px solid #767877;
  border-radius: 0px;
  height: 50px;
  width: 350px;
  color:#4b4e4d !important;
  font-family: 'RedOctober'; 
  font-size: 18px;
}

p {
  font-family: 'RedOctober';
  font-size: 25px;
}


::-webkit-input-placeholder {
  color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

:-ms-input-placeholder {  
   color: #4b4e4d !important;
  text-align: center;
  font-size: 18px;
}

#header {
  min-height: 150px;
  height: 150px;
  background: #df5431;
  font-family: 'RedOctober';
}

#header-title {
  height: 100%;
  background: #231f20;
  color: #fff;
  text-align: center;
  overflow: visible;
}

#header-title h1 {
  font-size: 38px;
  line-height: 38px;
  color: #fff;
  margin: 5px;
  z-index: 100;
}

#header-title h1:first-of-type {
  font-size: 38px;
  line-height: 38px;
  color: #fff;
  margin: 5px;
  margin-top: 20px;
}

#header-title #the {
  width: 24px;
  height: 54px;
  display: inline-block;
  background: url(images/the.png);
  background-size: cover;
  position: absolute;
  left: 20px;
  top: 10px;
}

#header-title .text {
  display: inline-block;
  position: absolute;
  left: 50px;
  z-index: 200;
}

#header-title p {
  margin: 0px;
  font-size: 20px;
  color: #fff;
}

#header-city {
  min-height: 150px;
  height: 150px;
  position: relative;
  z-index: 90;
}

.city {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.curve {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 0;
  background: url(images/curve.png) repeat-x;
  z-index: 51;
}


.front {
  height: 122px;
  background: url(images/city-front.png) repeat-x;
  z-index: 50;
}

.back-1 {
  bottom: 10px;
  height: 65px;
  background: url(images/city-back1.png) repeat-x;
  z-index: 49;
}

.back-2 {
  bottom: 20px;
  height: 101px;
  background: url(images/city-back2.png) repeat-x;
  z-index: 48;
}

.back-3 {
  bottom: 10px;
  height: 131px;
  background: url(images/city-back3.png) repeat-x;
  z-index: 47;
}

#header-tagline {
  text-align: center;
  padding: 40px 20px;
  border-bottom: 5px solid #231f20;
  background-color: #221f1f;
  font-family: 'RedOctober';
  /*background-color: #df5431;*/
}

#header-tagline h1 {
  font-size: 38px;
  margin: 0 20px 0 20px;
  color: #df5431;
}

#header-tagline h2 {
  font-size: 32px;
  margin: 0 20px 0 20px;
  color: #fff;
}

#information {
  background-color: #df5431;
  font-family: 'Helvetica Neue', sans-serif !important;
}

#information [class*=col] {
  padding: 20px 40px;
}

#information p {
  text-align: center;
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif !important;
}

#information h2 {
  font-size: 20px;
}

a:link, a:visited {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #fff !important;
}

a.large {
  font-size: 38px;
}

#registration-link {
  margin: 20px 0;
}

#registration-link a.large {
  font-size: 44px;
  font-weight: 600;
}

#registration-link h2 {
  font-size: 20px;
  font-weight: 400;
}

footer {
  padding: 40px;
  background: #fff;
}

footer p {
  display: inline-block;
  margin: 5px;
  margin-right: 10px;
  font-size: 15px;
  color: #c0c0c0;
}

footer img {
  width: 140px;
}